.CodeMirror {
    min-height: 100px !important;
}

.CodeMirror .CodeMirror-scroll {
    min-height: 100px !important;
}

@media (min-width: 1400px) and (max-width: 1920px) {
    .CodeMirror .CodeMirror-scroll {
        height: 300px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .CodeMirror .CodeMirror-scroll {
        height: 150px;
    }
}