.innerCon .same {
    float: left;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 20%;
    a {
        width: 100%;
        display: block;
        img {
            width: 100%;
        }
    }
}