.admin-form{
    .keywords,.description{
        height: 90px;
    }
    .edui-container{
        width: initial !important;
        height: 400px;
    overflow-y: auto;
    }
    .checkbox {
label{
    padding-left: 0 !important;
}
    input{
        // published
    position: initial !important;
    width: initial !important;
    height: initial !important;
    width: initial !important;
    }
}}