<div>
    <script id="home-main" type="text/x-handlebars-template">
        <div class="wrap clearfix">
            <div class="pages">
                
            </div><!-- 主页内容结束 -->
        </div>
    </script>
</div>
