<div>
    <script id="home-main" type="text/x-handlebars-template">
        <div class="wrap clearfix">
            <!-- banner开始 -->
            <div class="home-slide-container"></div>
            <!-- banner结束 -->
            <div class="pages">
                
            </div><!-- 主页内容结束 -->
        </div>
    </script>
</div>
