<div>
    <script id="service-main" type="text/x-handlebars-template">
        <div class="service-wrap">
            <div class="Conbanner">
                <img src="/assets/images/gaikuangbanner.jpg" alt="">
            </div>
            <div class="container container-service">
                
            </div>
        </div>
    </script>
</div>