<div>
    <script id="service-main" type="text/x-handlebars-template">
        <div class="panel-body service-wrap">
            <div class="Conbanner">
                <img src="{{banner}}" alt="">
            </div>
            <div class="container container-service">
                
            </div>
        </div>
    </script>
</div>