.activity-wrap {
    background-color: $pageBg;
    .repeater {
        border: none;
    }
}

.activity-repeater {
    // .repeater-thumbnail-cont {
    //     display: flex;
    // }
    // .image-item {
    //     display: inline-table;
    // }
    .repeater-canvas .item img:hover {
        -webkit-animation: pulse 2s ease-out;
        // -webkit-animation-iteration-count: infinite;
        -ms-animation: pulse 2s ease-out;
        // -ms-animation-iteration-count: infinite;
        -moz-animation: pulse 2s ease-out;
        // -moz-animation-iteration-count: infinite;
        -o-animation: pulse 2s ease-out;
        // -o-animation-iteration-count: infinite;
        animation: pulse 2s ease-out;
        // animation-iteration-count: infinite;
    }
    .spacer {
        display: none;
    }
}