html {
    height: 100%;
    width: 100%;
}

body {
    font-family: avenir-regular, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    overflow: auto;
    // -moz-user-select: none;
    // /*火狐*/
    // -webkit-user-select: none;
    // /*webkit浏览器*/
    // -ms-user-select: none;
    // /*IE10*/
    // -khtml-user-select: none;
    // /*早期浏览器*/
    // user-select: none;
}

@mixin word-ellipsis {
    word-break: break-all;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

$navHeight: 82px;
#mainWrapper {
    opacity: 0;
    position: relative;
    nav.navbar {
        margin-bottom: 0;
        height: $navHeight;
        background: #fff;
        box-shadow: 1px 1px 5px #ccc;
        .navbar-toggle .icon-bar {
            background-color: #337ab7;
        }
        @include respond-to($except-phone) {
            .navbar-nav {
                float: right;
                li {
                    position: relative;
                    cursor: pointer;
                    .sameOne {
                        display: none;
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 38px;
                        background-color: #d71728;
                        text-align: center;
                        li {
                            border-bottom: 1px solid #f9192f;
                            &:hover {
                                background-color: #f9192f;
                            }
                            a {
                                display: block;
                                padding: 13px 14px;
                                color: #fff;
                                font-size: 14px;
                                text-decoration: none;
                            }
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            left: 50%;
                            margin-left: -5px;
                            top: -5px;
                            width: 0px;
                            height: 0px;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-bottom: 5px solid #d6182a;
                            font-size: 0px;
                            line-height: 0px;
                        }
                        .active {
                            color: #fff;
                            background-color: #f9192f;
                        }
                    }
                    &:hover .sameOne {
                        display: block;
                    }
                }
                a {
                    color: #454545;
                }
                a:hover {
                    color: #d71728;
                    background-color: transparent;
                }
                li.active a {
                    color: #d71728;
                    background-color: transparent; // border-bottom: 2px solid #42b983;
                }
            }
        }
        @include respond-to($tablet-portrait) {
            .navbar {
                .navbar-collapse {
                    background-color: #fff;
                    z-index: 30;
                }
            }
            .container {
                background-color: #fff;
            }
            .active {
                // background-color: #ccc;
                background-color: transparent;
                color: #d71728;
            }
        }
        img.logo {
            position: relative;
            bottom: 4px;
            padding: 0 5px;
            max-width: 170px;
            max-height: 78px;
            display: inline
        }
    }
    #main {
        margin-top: $navHeight;
        width: 100%;
        min-height: 600px;
    }
}

.right-bottom {
    position: fixed;
    right: 30px;
    bottom: 50px; // width: 32px;
    height: 40px;
    .go-top-btn {
        display: none;
        cursor: pointer;
        z-index: 101;
        i {
            color: #337ab7;
            font-size: 48px; // margin-left: 8px;
        }
        i:hover {
            // @include opacity(.8);
            line-height: 45px;
            -moz-box-shadow: 0px -4px 0px 0px #337ab7;
            -webkit-box-shadow: 0px -4px 0px 0px #337ab7;
            box-shadow: 0px -4px 0px 0px #337ab7;
        }
        i:active {}
    }
}

.throb {
    border: 3px solid #555;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -ms-border-radius: 50%;
    -ms-animation: pulsate 2s ease-out;
    -ms-animation-iteration-count: infinite;
    -moz-border-radius: 50%;
    -moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-border-radius: 50%;
    -o-animation: pulsate 2s ease-out;
    -o-animation-iteration-count: infinite;
    border-radius: 50%;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
    z-index: 999;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -moz-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@-ms-keyframes pulsate {
    0% {
        -ms-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -ms-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@-o-keyframes pulsate {
    0% {
        -o-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -o-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}