@charset "utf-8";

/* CSS Document */


/*Reset start*/

fieldset,
img {
    border: none;
}

img {
    vertical-align: top;
    border: 0
}

a {
    text-decoration: none;
    outline: none;
    color: #666;
}

a:hover {
    color: #000;
}

a:focus {
    outline: none;
}

a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
}

ol,
ul {
    list-style: none outside none;
    padding: 0;
    margin: 0
}

// .fl{float: left;}
// .fr{float: right;}

/*table{border-collapse:collapse;border-spacing:0;}*/


/*首页*/

.navtopinfo {
    display: block;
    width: 100%;
    .gp_code {
        margin-left: 15px;
        color: #666666;
        height: 22px;
        line-height: 22px;
        text-align: right;
        span {
            color: #d71728;
            padding-left: 5px;
        }
    }
}

.homenews {
    width: 100%;
    height: 600px;
    background: url(/assets/images/homenewsbg.jpg) no-repeat center top;
    margin-top: 30px;
    padding-bottom: 70px;
}

.homenews-con {
    margin: 0 auto;
    ul {
        overflow: hidden;
        zoom: 1;
    }
    .slidecon ul li {
        .con {
            height: 184px;
            background: #fff;
            position: relative;
            padding: 0;
            .inner {
                .slidetitle {
                    height: 16px;
                    line-height: 16px;
                    padding-bottom: 10px;
                    font-size: 14px;
                    color: #666666;
                    font-weight: normal;
                    border-bottom: 1px solid #ececec;
                    box-sizing: content-box;
                    @include word-ellipsis;
                }
                .slidetitle .arrowI {
                    display: inline-block;
                    margin-left: 5px;
                    width: 8px;
                    height: 16px;
                    background: url(/assets/images/rightArrowbg.png) no-repeat center 6px;
                }
                p {
                    color: #999999;
                    line-height: 20px;
                    height: 120px;
                    @include word-ellipsis;
                    white-space: initial; //多行显示 配合高度
                }
                .morelink {
                    // position: absolute;
                    // width: 53px;
                    // height: 19px;
                    // background: url(/assets/images/newsmorebg.png) no-repeat;
                    // left: 20px;
                    // bottom: 20px;
                }
            }
        }
        .img {
            height: 184px;
            position: relative;
            padding-left: 0;
            img {
                display: block;
                padding: 10px 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.homenewsTitle {
    padding-top: 38px;
    position: relative;
    margin-bottom: 30px;
    span {
        border-bottom: 2px solid #d81e2e;
        padding-bottom: 12px;
        display: inline-block;
    }
    .prev {
        position: absolute;
        right: 29px;
        bottom: 0;
        width: 28px;
        height: 28px;
        background: url(/assets/images/newsnp.jpg) no-repeat 0 0;
        &:hover {
            background: url(/assets/images/newsnp.jpg) no-repeat -28px 0;
        }
    }
    .next {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 28px;
        height: 28px;
        background: url(/assets/images/newsnp.jpg) no-repeat 0 -28px;
        &:hover {
            background: url(/assets/images/newsnp.jpg) no-repeat -28px -28px;
        }
    }
}

.footerOne {
    background: #b72024;
    .innner {
        width: 1000px;
        margin: 0 auto;
        position: relative;
    }
    .innerCon {
        padding: 55px 0 35px;
    }
    .innerCon .left {
        float: left;
    }
    .innerCon .left .same {
        float: left;
        margin-left: 60px;
    }
    .innerCon .left .same:first-child {
        margin-left: 0;
    }
    .innerCon .left h5 {
        color: #fff;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 25px;
    }
    .innerCon .left a {
        display: block;
        color: #959595;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .innerCon .right {
        float: right;
    }
    .innerCon .right .footerweibo {
        float: left;
        margin-right: 30px;
        display: block;
        width: 41px;
        height: 41px;
        background: url(/assets/images/footerweibo.png) no-repeat;
    }
    .innerCon .right .footerweibo:hover {
        background: url(/assets/images/footerweibohover.png) no-repeat;
    }
    .innerCon .right .footerweixin {
        position: relative;
        padding-bottom: 14px;
        cursor: pointer;
        float: left;
        width: 41px;
        height: 41px;
        background: url(/assets/images/footerweixin.png) no-repeat;
        box-sizing: content-box;
    }
    .innerCon .right .footerweixin:hover {
        background: url(/assets/images/footerweixinhover.png) no-repeat;
    }
    .innerCon .right .footerweixin .code {
        display: none;
        position: absolute;
        top: 54px;
        right: 0;
        width: 111px;
        height: 111px;
    }
    .innerCon .right .footerweixin .code:before {
        content: '';
        position: absolute;
        right: 15px;
        top: -8px;
        width: 0px;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        font-size: 0px;
        line-height: 0px;
    }
    .innerCon .right .footerweixin:hover .code {
        display: block;
    }
    .innerCon .right .footerweixin:hover .code img {
        display: block;
        border-radius: 5px;
    }
}

.footer .footerTwo {
    padding: 22px 0;
    background: #394048;
    p {
        text-align: center;
        color: #828282;
        margin: 0;
    }
}

.footercode {
    text-align: center;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    a {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0 15px;
    }
    a.mobi-code {
        background: url(/assets/images/mobiweixin.png) no-repeat;
        background-size: 100%;
    }
    a.mobi-weibo {
        background: url(/assets/images/mobiweibo.png) no-repeat;
        background-size: 100%;
    }
}


/*关于我们*/

.Conbanner {
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
}

.mainWrapCon {
    background: #f2f2f2;
    padding-bottom: 70px;
    .position-current {
        height: 48px;
        line-height: 48px;
        background: url(/assets/images/mainpositionBg.jpg) no-repeat left top;
        a {
            color: #666666;
        }
    }
}

.mainWrapInner {
    padding-top: 30px;
}

.h4TitleLeft {
    font-size: 16px;
    margin: 0;
    color: #fff;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    padding-left: 22px;
    background: url(/assets/images/leftnavbg.jpg) no-repeat left top;
}

.leftNavCon ul li {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #333333;
    font-size: 13px;
    border-bottom: 1px solid #f2f2f2;
    background: #fff url(/assets/images/leftnavAbg.png) no-repeat 10px center;
    padding-left: 22px;
    &:hover,
    &.active a {
        color: #d60917;
        // background: #fbeced url(/assets/images/leftnavAbg.png) no-repeat 10px center;
        // background: #fbeced url(/assets/images/leftnavAbg.png) no-repeat 10px center;
    }
}

.leftNavCon ul li ul li {
    background-image: none;
    height: auto;
    line-height: 22px;
    padding: 8px 15px 8px 20px;
    background: #fff url(/assets/images/leftnavAbg.png) no-repeat 10px center;
}

.col-clear-padding {
    padding: 0;
}

.wrapRight-con {
    p {
        font-size: 14px;
        color: #666666;
        margin-bottom: 25px;
        line-height: 22px;
        text-indent: 2em;
    }
    .manageDiv {
        background: #fff;
        padding: 20px 0;
        margin-bottom: 20px;
        .manageH4 {
            font-size: 12px;
            color: #333333;
            padding-bottom: 10px;
        }
        .manageH4 span {
            font-weight: bold;
            font-size: 16px;
            margin-right: 30px;
        }
    }
}


/*手机底部二维码*/

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
}

.ywbjTitlePic img {
    display: block;
    width: 100%;
}

.ywbjTopTitle {
    margin: 25px 0 20px 0;
    font-size: 16px;
    color: #d60917;
    font-weight: bold;
    border-bottom: 3px solid #e2e2e2;
    span {
        display: inline-block;
        padding: 0 11px;
        border-bottom: 3px solid #d60917;
        padding-bottom: 10px;
        position: relative;
        top: 3px;
    }
}

.ywbjCont {
    font-size: 14px;
    color: #666;
    p {
        text-indent: 2em;
        padding-bottom: 10px;
        strong {
            color: #333;
        }
    }
    .img {
        text-align: center;
        padding: 25px 0;
    }
    .txtDL {
        padding-bottom: 30px;
        dd {
            background: url(/assets/images/liIcon2.png) 30px 8px no-repeat;
            padding-left: 42px;
        }
    }
    .yxszBox .txtLeft {
        float: left;
        width: 450px;
    }
    .yxszBox .pic {
        float: right;
        margin-right: 20px;
    }
    .link {
        font-size: 15px;
        font-style: italic;
        color: #d7182a;
        font-weight: bold;
        margin-top: 10px;
        a {
            color: #d7182a;
        }
    }
}

.itstContent {
    margin-top: -25px;
}