/**
* 首页css样式表
*
*/

.logo {
    margin-top: -8px;
}

@media (max-width:768px) {
    .logo {
        height: 50px;
    }
}


/*banner main*/

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}


/*页面主要内容开始*/

.activity {
    width: 100%;
    background-color: rgb(0, 43, 127);
    .activity-con {
        background-color: rgb(255, 255, 255);
        margin: 0 auto;
        img {
            border-radius: 2px;
            width: 100%;
        }
        .img_img_desc {
            overflow: hidden;
        }
        .left-title {
            max-height: 52px;
            @include word-ellipsis-H;
        }
        .left-abstract {
            max-height: 62px;
            @include word-ellipsis-H;
        }
        .right-title {
            @include word-ellipsis;
        }
        .right-con {
            padding-left: 0;
            padding-right: 0;
            overflow: hidden;
        }
    }
}

.our-services {
    background-color: rgb(0, 43, 127);
}

.main_title {
    text-align: center;
    line-height: 70px;
    color: #ffffff;
    position: relative;
}

.main_title_three,
.main_title_eleven {
    color: #010101;
}

.main_title_ten {
    color: #fff;
    margin: 0;
}

.main_title_one:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    height: 4px;
    background-color: #b72024;
}

.main_title_two:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    height: 4px;
    background-color: #b72024;
}

.main_title_three:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    height: 4px;
    background-color: #b72024;
}

.main_title_seven:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    height: 4px;
    background-color: #b72024;
}

.main_title_eleven:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    height: 4px;
    background-color: #b72024;
}

.part_one {
    // width: 1170px;
    margin: 0 auto;
}

.part_one_main {
    position: relative;
}

.part_one_title {
    width: 1170px;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    line-height: 45px;
    span {
        width: 190px;
        display: inline-block;
        cursor: pointer;
    }
}

.part_one_title span.part_one_current {
    border-bottom: 3px solid #b72024;
    color: #b72024;
}

.part_one_title span:hover {
    color: #b72024;
}

.part_one_con {
    background-color: #e5e5e5;
    // height: 120px;
    opacity: 0.8676;
    margin-bottom: 40px;
    @include word-ellipsis-H;
    //多行显示 配合高度
    .one_con {
        background-color: #e5e5e5;
        // height: 80px;
        line-height: 28px;
        overflow: hidden;
        text-indent: 2em;
        font-size: 16px;
    }
}

.part_one_list {
    margin-top: 14px;
    li {
        cursor: pointer;
        p {
            font-size: 21px;
            text-align: center;
            overflow: hidden;
            line-height: 30px;
            height: 30px;
        }
        a,
        img {
            display: block;
            width: 100%;
        }
        img {
            border-radius: 2px;
        }
    }
}

.part_one_list li.part_one_margin {
    /* margin-right: 14px; */
    padding: 10px;
}

.part_one_list li.part_one_margin img {
    /* margin-right: 14px; */
    width: 100%;
}

.part_one_city {
    position: absolute;
    top: 0;
    right: 0px;
}

// our server
.our-services-con {
    margin: 0 auto;
    // height: 325px;
    margin: 0 auto;
    li:nth-child(1) .part_two_row {
        background-color: #eb6877;
    }
    li:nth-child(2) .part_two_row {
        background-color: #f8b551;
    }
    li:nth-child(3) .part_two_row {
        background-color: #b72024;
    }
    li:nth-child(4) .part_two_row {
        background-color: #7ecef4;
    }
    li:nth-child(5) .part_two_row {
        background-color: #c490bf;
    }
    li:nth-child(6) .part_two_row {
        background-color: #fff;
    }
    li:nth-child(7) .part_two_row {
        background-color: #eb6877;
    }
    li:nth-child(8) .part_two_row {
        background-color: #f8b551;
    }
}

.part_two_title {
    color: #323232;
    // line-height: 60px;
    text-align: center;
}

.part_two_row {
    display: inline-block;
    width: 100%;
    height: 4px;
}

//
.environment-con {
    margin: 0 auto;
}

.pt_li1 {
    position: absolute;
    top: -52px;
    left: 50%;
    margin-left: -52px;
    background: url(/wap_new/img/part2_01.png) no-repeat;
    background-size: 104px 104px;
    width: 104px;
    height: 104px;
}

.pt_li2 {
    position: absolute;
    top: -52px;
    left: 50%;
    margin-left: -52px;
    background: url(/wap_new/img/part2_02.png) no-repeat;
    background-size: 104px 104px;
    width: 104px;
    height: 104px;
}

.pt_li3 {
    position: absolute;
    top: -52px;
    left: 50%;
    margin-left: -52px;
    background: url(/wap_new/img/part2_03.png) no-repeat;
    background-size: 104px 104px;
    width: 104px;
    height: 104px;
}

.pt_li4 {
    position: absolute;
    top: -52px;
    left: 50%;
    margin-left: -52px;
    background: url(/wap_new/img/part2_04.png) no-repeat;
    background-size: 104px 104px;
    width: 104px;
    height: 104px;
}

.pt_li5 {
    position: absolute;
    top: -52px;
    left: 50%;
    margin-left: -52px;
    background: url(/wap_new/img/part2_05.png) no-repeat;
    background-size: 104px 104px;
    width: 104px;
    height: 104px;
}

.pt_li1hover {
    background: url(/wap_new/img/part2_01hover.png) no-repeat;
}

.pt_li2hover {
    background: url(/wap_new/img/part2_02hover.png) no-repeat;
}

.pt_li3hover {
    background: url(/wap_new/img/part2_03hover.png) no-repeat;
}

.pt_li4hover {
    background: url(/wap_new/img/part2_04hover.png) no-repeat;
}

.pt_li5hover {
    background: url(/wap_new/img/part2_05hover.png) no-repeat;
}

.part_two_con {
    overflow: hidden;
    color: #010101;
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
}

.part_three {
    width: 1170px;
    margin: 0 auto;
    color: #010101;
}

.part_three_about {
    width: 700px;
    margin-left: 235px;
    line-height: 22px;
    display: inline-block;
    margin-top: 20px;
}

.part_three_detail {
    position: relative;
    background: url(/assets/images/part3_01.png) no-repeat;
    background-position: bottom center;
    background-size: 577px 413px;
    height: 413px;
    margin-top: 79px;
}

.part_three_datailCon {
    position: relative;
    text-align: center;
    width: 210px;
    height: 250px;
    margin-left: 480px;
    padding-top: 145px;
    color: #fff;
}

.pt_datail_title {
    text-align: center;
    font-size: 30px;
    border-bottom: 4px solid #fff;
    display: inline-block;
    padding: 20px 0;
}

.pt_datail_con {
    height: 100px;
    overflow: hidden;
    line-height: 23px;
    display: inline-block;
    padding-top: 14px;
}

.pt_datail_page {
    /* position: absolute; */
    bottom: 0;
    left: 50%;
    // margin-left: -30px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

.part_three_left,
.part_three_right {
    position: absolute;
    top: 0;
    font-size: 30px;
}

.part_three_right {
    left: 50%;
    li {
        width: 400px;
        float: left;
        img {
            float: left;
            margin-right: 20px;
        }
        p {
            line-height: 104px;
            color: #b72024;
        }
    }
}

.part_three_left {
    left: 50%;
    margin-left: -370px;
    li p {
        float: left;
        text-align: right;
        margin-right: 20px;
        color: #b72024;
    }
    li:nth-child(1) {
        line-height: 100px;
        margin-top: -20px;
        cursor: pointer;
    }
    li:nth-child(2) {
        margin-left: -170px;
        /* margin-top: -15px; */
        margin-top: 45px;
        cursor: pointer;
        p {
            margin-top: 18px;
            cursor: pointer;
        }
    }
    li:nth-child(3) {
        margin-top: 41px;
        margin-left: -180px;
        line-height: 100px;
        cursor: pointer;
    }
}

.part_three_right {
    li:nth-child(1) {
        margin-top: -20px;
        margin-left: 76px;
        cursor: pointer;
    }
    li:nth-child(2) {
        width: 310px;
        overflow: hidden;
        margin-left: 200px;
        margin-top: 25px;
        cursor: pointer;
    }
    li:nth-child(3) {
        width: 310px;
        overflow: hidden;
        margin-top: 48px;
        margin-left: 235px;
        cursor: pointer;
    }
}

.environment-con {
    li {
        position: relative;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        p.part_four_title {
            overflow: hidden;
            background-color: #b72024;
            color: #fff;
            text-align: center;
        }
        p.part_four_title_more {
            width: 379px;
            height: 66px;
            overflow: hidden;
            font-size: 18px;
            line-height: 66px;
            background-color: #fda33d;
            color: #fff;
            text-align: center;
        }
        img {
            margin-bottom: -4px;
            width: 100%;
        }
    }
}

.find_more {
    clear: both;
    margin: 0 auto;
}

.part_more {
    width: 210px;
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #b72024;
    border-radius: 5px;
    margin: 0 auto;
    &:hover {
        text-decoration: none;
    }
}

.find_more {
    clear: both;
}

.part_five_more {
    color: #b72024 !important;
    &:hover {
        background-color: #b72024;
        color: #fff !important;
    }
}

.part_seven_left {}

.ps_left_title a {
    display: inline-block;
    padding-left: 20px;
    width: 557px;
    width: 100%;
    background-color: #b72024;
    color: #fff;
    height: 70px;
    line-height: 70px;
    margin-top: -4px;
    font-size: 21px;
}

.ps_left_con {
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    height: 100px;
    p {
        line-height: 25px;
    }
}

.part_seven_right {}

.ps_haddleTop {
    cursor: pointer;
    background: url(/wap_new/img/part7_03.png) no-repeat;
    background-size: 100% 60px;
    width: 100%;
    height: 60px;
}

.ps_right_con {
    width: 100%;
    overflow: hidden;
    ul li {
        cursor: pointer;
        float: left;
        &:nth-child(2n) {
            margin-right: 0;
            margin-bottom: 16px;
        }
        img {
            margin-bottom: -4px;
        }
        p {
            // width: 277px;
            overflow: hidden;
            text-align: center;
            background-color: #fff;
            color: #b72024;
            font-size: 18px;
        }
    }
    ul .margin_none {
        margin-right: 0px;
    }
}

.ps_haddleBottom {
    cursor: pointer;
    background: url(/wap_new/img/part7_04.png) no-repeat;
    background-size: 100% 60px;
    width: 100%;
    height: 60px;
}


/*生美国际赴美的五心服务*/

.part_ten img {
    margin-bottom: 40px;
}

.part_ten_title {
    font-size: 36px;
    color: #b72024;
}

.part_ten_main {
    font-size: 21px;
    color: #b72024;
}

.part_ten_con {
    color: #fff;
    display: inline-block;
    margin-top: 20px;
}


/*页面主要内容结束*/


/*页面主要内容开始*/

.metusa-wrap,
.news-wrap,
.fqa-wrap {
    width: 100%;
    background-color: $pageBg;
    .left-list {
        a,
        a:hover {
            text-decoration: none;
        }
        .item {
            position: relative;
            cursor: pointer;
            border: 1px solid #d2d2d2;
            background-color: #fff;
            clear: both;
            // margin-top: 20px;
            transition: 1s;
            &:hover {
                border-bottom: 2px solid #b72024;
                box-shadow: 0px 0px 10px #999;
            }
            a {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                // height: 140px;
                // width: 200px;
                display: block;
            }
            img {
                width: 200px;
                height: 132px;
            }
            .text-tip {
                margin-top: 10px;
                color: #959595;
                font-size: 16px;
                line-height: 20px;
                @include word-ellipsis-H;
                //多行显示 配合高度
            }
            .tip-footer {
                font-size: 12px;
                height: 14px;
                line-height: 14px;
                width: 100%;
            }
            .icon {
                padding: 0 5px;
                color: #959595;
            }
        }
    }
    .right-list {
        .list-title {
            font-size: 18px;
            color: #b72024;
        }
        .list-item {
            display: block;
            a {
                color: #666666;
                &:hover {
                    color: #b72024;
                }
            }
        }
        .more {
            width: 100%;
            a {
                font-size: 14px;
                color: #666;
                &:hover {
                    color: #b72024;
                }
            }
        }
    }
    // 单个文章 begin
    .case_container {
        .date {
            font-size: 12px;
            color: #7d7d7d;
        }
        .abstract {
            padding: 20px;
            font-size: 16px;
            color: #fff;
            line-height: 27px;
            background-color: #b72024;
        }
        .post_overview pre {
            font-size: 16px;
            padding: 0;
            border: none;
            background-color: transparent;
        }
        .post_overview img {
            max-width: 100%;
            // margin: 0 auto;
            // display: block;
        }
    }
    // 单个文章 end
}