$phone: '(max-width: 480px)';
$mini: '(max-width: 900px)';
$except-phone: '(min-width: 768px)';
$tablet-portrait: '(max-width: 767px)';
$except-tablet-portrait: '(min-width: 768px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$max: '(max-width: 1300px)';
$bigThenMini: '(min-width: 900px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5),
 (-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx)';
 @mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

// home page begin
@include respond-to($tablet-portrait) {
    .mobi-clear-padding {
        padding: 0 !important;
    }
    // home begin
    .part {
        padding: 0;
    }
    .part_two_con {
        max-height: 150px;
    }
    .find_more {
        padding: 0;
    }
    .homenews-con {
        .img {
            height: 100%;
        }
        .slidecon ul li {
            .con {
                height: 100%;
                p {
                    height: 100%;
                }
            }
        }
    }
    // home end
    // 导航页面(metusa/news/fqa) begin
    .metusa-wrap,
    .news-wrap,
    .fqa-wrap {
        .item {
            .text-tip {
                max-height: 80px;
            }
        }
    }
    //(metusa/news/fqa) end
    // 导航页面 end
}

@include respond-to($large-desktop) {
    .part {
        padding: 50px;
    }
    .part_two_con {
        height: 150px;
    }
    .find_more {
        padding: 30px 0;
    }
    .homenews-con {
        .img {
            height: 184px;
        }
        .slidecon ul li {
            .con {
                height: 184px;
                p {
                    height: 120px;
                }
            }
        }
    }
    // 导航页面(metusa/news/fqa) begin
    .metusa-wrap,
    .news-wrap,
    .fqa-wrap {
        .item {
            .text-tip {
                height: 80px;
            }
        }
    }
    // 导航页面 end
}

//home page end
@media only screen and (min-width:360px) and (max-width:384px) {
    html {
        font-size: 64% !important;
    }
}


/*Iphone6,Iphone6plus*/

@media only screen and (min-width:385px) and (max-width:435px) {
    html {
        font-size: 82.5% !important;
    }
}