$bgColor: #2e6da4;
$fontColor: #fff;
nav.navbar {
    height: 50px;
    z-index: 40;
    margin-bottom: 0;
    background-color: $bgColor;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease-in-out;
    li {
        cursor: pointer;
        &.dropdown {
            ul {
                background-color: $bgColor;
            }
            li {
                &:hover,
                &.active {
                    background-color: #ccc;
                }
            }
        }
        a {
            color: $fontColor;
        }
        &:hover,
        &.active {
            color: #333;
        }
    }
    .navbar-toggle {
        background-color: $bgColor;
        .icon-bar {
            background-color: $fontColor;
        }
    }
    @include respond-to($except-phone) {
        .navbar-nav {
            float: right;
            li a:hover {
                border-bottom: 2px solid #42b983;
            }
        }
        .active {
            border-bottom: 2px solid #42b983;
        }
    }
    @include respond-to($tablet-portrait) {
        .navbar {
            .navbar-collapse {
                background-color: $fontColor;
                z-index: 30;
            }
        }
        .container {
            background-color: $fontColor;
        }
        .active {
            background-color: #ccc;
        }
    }
    .logo-nav {
        padding: 10px;
    }
    img.logo {
        position: relative;
        bottom: 4px;
        padding: 0 5px;
    }
}