.process-container {
    background-color: $pageBg;
    .repeater-thumbnail-cont {
        margin-right: 15px;
        margin-left: 15px;
        img {
            width: 260px;
            height: 200px;
        }
    }
}