.service-wrap {
    background-color: $pageBg;
}

.container-service {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 20px;
    color: #666;
    line-height: 27px;
    p {
        color: #666;
        font-size: 18px;
    }
}