<div>
     <script id="about-main" type="text/x-handlebars-template">
        <div>
            <div class="Conbanner">
                <img src="{{banner}}" alt="">
            </div>
            <div class="mainWrapCon">
                <div class="mainWrapInner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2 col-xs-12 col-clear-padding">
                                <div class="leftNavCon">
                                    <!-- 右侧导航菜单 -->
                                    <h4 class="h4TitleLeft">关于我们</h4>
                                    <div class="leftNavall">
                                        <ul class="list-unstyled" id="aTabList">
                                            <li class="col-sm-12 col-xs-12 mobi-clear-padding col-clear-padding">
                                                <a href="#aAbout" data-toggle="tab" aria-expanded="false" data-path="/about">关于我们</a>
                                            </li>
                                            <li class="col-sm-12 col-xs-12 mobi-clear-padding col-clear-padding">
                                                <a href="#aContact" data-toggle="tab" aria-expanded="false" data-path="/about/contact">联系我们</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10 col-xs-12 col-clear-padding">
                                <div class="tab-content">
                                    <div class="tab-pane mainWrapRight" id="aAbout">
                                    
                                    </div>
                                    <div class="tab-pane" id="aContact">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </script>
</div>
