<div>
    <script id="home-page1-partial" type="text/x-handlebars-template">
        <!-- 主页内容开始 -->
        <div class="bg_one">
            <div class="part">
                <p class="main_title main_title_eleven">生美国际赴美生子</p>
            </div>
            <div class="part_one">
                <div class="part_one_main">
                    <div class="part_one_con">
                        <p id="one_con" style="margin-top: 30px;">
                            美国生美国际月子中心，总部位于美国洛杉矶，分布于Rancho Cucamonga和尔湾（Irvine）两地的高级公寓和别墅社区内。2009年开始在美国提供服务，2013年在中国设立客服团队，目前在北京和上海两地有办事处，是一家从中国到美国一站式服务的赴美生子直营机构。
                            <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;十余种不同套餐，从平民到私人订制，满足客人不同需求。
                        </p>
                    </div>
                    <ul id="list" class="part_one_list">
                        <li class="part_one_margin">
                            <a target="_blank" href="/view-5334-6.html"><img src="/assets/images/wap_new/240370-1305210J94350.png" title="赴美生子流程全介绍" alt="赴美生子流程全介绍" height="216" width="383"></a>
                            <p><a target="_blank" href="/view-5334-6.html">赴美生子的优势</a></p>
                        </li>
                        <li class="part_one_margin">
                            <a target="_blank" href="/view-5335-6.html"><img src="/assets/images/wap_new/235104-1305100HP046.png" title="" alt="" height="216" width="383"></a>
                            <p><a target="_blank" href="/view-5335-6.html">赴美生子的安全合法性</a></p>
                        </li>
                        <li class="part_one_margin">
                            <a target="_blank" href="/view-5335-6.html"><img src="/assets/images/wap_new/235104-1305100HP046.png" title="" alt="" height="216" width="383"></a>
                            <p><a target="_blank" href="/view-5335-6.html">赴美的流程</a></p>
                        </li>
                    </ul>
                    <!-- <img class="part_one_city" src="/assets/images/part1_02.png" height="462" width="394"> -->
                </div>
            </div>
        </div>
    </script>

    <script id="home-page2-partial" type="text/x-handlebars-template">
        <!-- 我们的服务 -->
        <div class="bg_two">
            <div class="part">
                <p class="main_title main_title_two">我们的服务</p>
            </div>
            <ul class="part_two">
                <li onclick="javascript:window.open('/list-6/')">
                    <div class="pt_li1"></div>
                    <p class="part_two_title">赴美咨询</p>
                    <p class="part_two_row row_bg1"></p>
                    <p class="part_two_con"><a target="_blank" href="/list-6/">赴美生子常见问答：签证、机票、保险、过海关，产检分娩、宝宝证件办理、回国如何上户口等等。</a></p>
                </li>
                <li onclick="javascript:window.open('/view-5339-6.html')">
                    <div class="pt_li2"></div>
                    <p class="part_two_title">赴美签证</p>
                    <p class="part_two_row row_bg2"></p>
                    <p class="part_two_con"><a target="_blank" href="/view-5339-6.html">资深顾问详细评估客人条件，免费辅导办理赴美生子诚实签，通过率高达90%以上。</a></p>
                </li>
                <li onclick="javascript:window.open('/view-5342-7.html')">
                    <div class="pt_li3"></div>
                    <p class="part_two_title">美宝美妈</p>
                    <p class="part_two_row row_bg3"></p>
                    <p class="part_two_con"><a target="_blank" href="/view-5342-7.html">宝宝落地美国籍，赢在起跑线，未来更多选择；科学贴心的孕期护理让妈妈在美国舒适待产生活。</a></p>
                </li>
                <li onclick="javascript:window.open('/view-5341-7.html')">
                    <div class="pt_li4"></div>
                    <p class="part_two_title">美国生活</p>
                    <p class="part_two_row row_bg4"></p>
                    <p class="part_two_con"><a target="_blank" href="/view-5341-7.html">定期组织外出购物游玩，各大商场、热门景点、网红餐厅一网打尽！</a></p>
                </li>
                <li onclick="javascript:window.open('/view-5340-6.html')" class="margin_none">
                    <div class="pt_li5"></div>
                    <p class="part_two_title">出生之后</p>
                    <p class="part_two_row row_bg5"></p>
                    <p class="part_two_con"><a target="_blank" href="/view-5340-6.html">月子中心免费帮助宝宝办理证件，回国后协助上户口，继续跟踪服务，指导美宝家庭未来身份规划。</a></p>
                </li>
            </ul>
        </div>
    </script>
    <script id="home-page3-partial" type="text/x-handlebars-template">
        <!-- 我们的优势 -->
        <div class="bg_three">
            <div class="part">
                <p class="main_title main_title_three">我们的优势</p>
            </div>
            <div class="part_three">
                <p class="part_three_about">
                    业界知名专家“洛杉矶胖爸爸”创立，首次提出赴美生子诚实签，倡导安全合法赴美生子，品质保障。国内城市设立办事处，定期全国巡回面对面咨询，让孕妈更加放心安心。
                </p>
                <div class="part_three_detail">
                    <div class="part_three_datailCon">
                        <p class="pt_datail_title">直营品牌保障</p>
                        <p class="pt_datail_con">洛杉矶老牌直营月子中心，国内外同一服务团队。正规注册公司，安全有保障。</p>
                        <p class="pt_datail_page">1/6</p>
                    </div>
                    <ul class="part_three_left">
                        <li class="pt_left_03">
                            <p>赴美生子诚实签</p>
                            <img data-main="3" src="/assets/images/wap_new/img/part3_04.png" height="104px" width="104px">
                        </li>
                        <li class="pt_left_02">
                            <p>一站式定制服务</p>
                            <img data-main="2" src="/assets/images/wap_new/img/part3_02.png" height="104px" width="104px">
                        </li>
                        <li class="pt_left_01">
                            <p>直营品牌保障</p>
                            <img data-main="1" src="/assets/images/wap_new/img/part3_03.png" height="104px" width="104px">
                        </li>
                    </ul>
                    <ul class="part_three_right">
                        <li class="pt_left_06">
                            <img data-main="4" src="/assets/images/wap_new/img/part3_05.png" height="104px" width="104px">
                            <p>套餐价格多样</p>
                        </li>
                        <li class="pt_left_05">
                            <img data-main="5" src="/assets/images/wap_new/img/part3_06.png" height="104px" width="104px">
                            <p>免费预约服务</p>
                        </li>
                        <li class="pt_left_04">
                            <img data-main="6" src="/assets/images/wap_new/img/part3_07.png" height="104px" width="104px">
                            <p>严保客户隐私</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </script>
    <script id="home-page4-partial" type="text/x-handlebars-template">
        <!-- 月子中心 -->
        <div class="bg_four">
            <div class="part">
                <p class="main_title main_title_three">美国月子中心</p>
            </div>
            <ul class="part_four">
                <li>
                    <a target="_blank" href="/show-3/"><img src="/assets/images/wap_new/y1.png" title="" alt="" height="213" width="379"></a>
                    <p style="line-height: 66px;" class="part_four_title">Rancho Cucamonga别墅</p>
                </li>
                <li>
                    <a target="_blank" href="/show-22-3/"><img src="/assets/images/wap_new/y2.png" title="" alt="" height="213" width="379"></a>
                    <p style="line-height: 66px;" class="part_four_title">尔湾豪华公寓</p>
                </li>
                <li style="margin-bottom:15px" class="margin_none">
                    <a target="_blank" href="/show-7-3/"><img src="/assets/images/wap_new/y3.png" title="" alt="" height="213" width="379"></a>
                    <p style="line-height: 66px;" class="part_four_title">尔湾豪华别墅</p>
                </li>
            </ul>
            <div class="find_more_four">
                <a class="part_four_more part_more" href="/show-3/">查看更多</a>
            </div>
        </div>
    </script>
    <script id="home-page5-partial" type="text/x-handlebars-template">
        <!-- 在美活动 -->
        <div class="bg_seven">
            <div class="part">
                <p class="main_title main_title_seven">在美活动</p>
            </div>
            <div class="part_seven_main">
                <div id="success_left" class="part_seven_left">
                    <img src="/assets/images/10361431_IMG_6166.jpeg" title="" height="267" width="577">
                    <p class="ps_left_title"><a href="http://www.xiduobaby.com/view-2846-12.html" title="新疆赴美生子生美国际月子中心庆祝美宝满月生个美宝好处多">新疆赴美生子生美国际月子中心庆祝美宝满月</a>
                    </p>
                    <div class="ps_left_con">洛杉矶生美国际月子中心Rancho Cucamonga别墅里来自新疆乌鲁木齐的赴美产子客人为自家的小美宝庆祝满月啦 ， 妈妈这次是来美国生二宝的， 大宝是位小王子，二宝也是哦，哥俩以后可以一起...</div>
                </div>
                <div class="part_seven_right">
                    <!--    <div class="ps_haddleTop"></div> -->
                    <div style="margin-top:60px;" class="ps_right_con">
                        <ul>
                            <li>
                                <div class="img_img_desc">
                                    <a href="http://www.xiduobaby.com/view-6232-12.html" title="内蒙古客人赴美生子后携满月宝宝回国">
                            <img src="http://www.xiduobaby.com/uploads/allimg/171116/1_171116173425_1.png" height="auto" width="277">
                        </a>
                                </div>
                                <a href="http://www.xiduobaby.com/view-6232-12.html" title="内蒙古客人赴美生子后携满月宝宝回国">
                                    <p>内蒙古客人赴美生子后携满月宝宝回国</p>
                                </a>
                            </li>
                            <li style="margin-right: 0; margin-bottom: 16px;">
                                <div class="img_img_desc">
                                    <a href="http://www.xiduobaby.com/view-6121-12.html" title="都有哪些明星是在美国生的宝宝">
                            <img src="http://www.xiduobaby.com/uploads/allimg/171116/1_171116110851_1.jpg" height="auto" width="277">
                        </a>
                                </div>
                                <a href="http://www.xiduobaby.com/view-6121-12.html" title="都有哪些明星是在美国生的宝宝">
                                    <p>都有哪些明星是在美国生的宝宝</p>
                                </a>
                            </li>
                            <li>
                                <div class="img_img_desc">
                                    <a href="http://www.xiduobaby.com/view-6076-12.html" title="北京吴小姐二胎赴美生子顺利生产">
                            <img src="http://www.xiduobaby.com/uploads/allimg/171115/1_171115174524_1.png" height="auto" width="277">
                        </a>
                                </div>
                                <a href="http://www.xiduobaby.com/view-6076-12.html" title="北京吴小姐二胎赴美生子顺利生产">
                                    <p>北京吴小姐二胎赴美生子顺利生产</p>
                                </a>
                            </li>
                            <li style="margin-right: 0; margin-bottom: 16px;">
                                <div class="img_img_desc">
                                    <a href="http://www.xiduobaby.com/view-6075-12.html" title="苏州客人持赴美生子诚实签入境产下女宝">
                            <img src="http://www.xiduobaby.com/uploads/allimg/171115/1_171115173338_1.png" height="auto" width="277">
                        </a>
                                </div>
                                <a href="http://www.xiduobaby.com/view-6075-12.html" title="苏州客人持赴美生子诚实签入境产下女宝">
                                    <p>苏州客人持赴美生子诚实签入境产下女宝</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="ps_haddleBottom"></div> -->
                </div>
                <div class="find_more_five">
                    <a class="part_five_more part_more" href="/list-12/">查看更多</a>
                </div>
            </div>
        </div>
    </script>
    <script id="home-page6-partial" type="text/x-handlebars-template">
        <!-- 新闻消息 -->
        <div class="homenews hidden-xs">
            <div class="homenewsCon">
                <h5 class="homenewsTitle">
                <span><img src="/assets/images/homenewstitle.png" alt=""></span>
                <a href="javascript:void(0)" class="prev"></a>
                <a href="javascript:void(0)" class="next"></a>
            </h5>
                <div class="tbC">
                    <div class="tempWrap" style="overflow:hidden; position:relative; width:1000px">
                        <div class="slidecon" style="width: 4000px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1000px;">
                            <ul class="list-unstyled clearfix clone" style="float: left; width: 1000px;">
                                <li class="clearfix">
                                    <a href="/show-32-115-1.html">
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">中芬筑梦教育文化 神...<i class="arrowI"></i></h6>
                                                <p>2017年10月10日，中芬教育文化商业投资论坛暨筑梦创业服务周启动仪式在北京大学全球创新创业中心举行。论坛上，神州数码与芬兰Acvio Oy公 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                        <div class="imgright"><img src="/uploadfile/2017/1010/20171010072925421.png" alt=""></div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-113-1.html">
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">神州云科DCN荣获2017年...<i class="arrowI"></i></h6>
                                                <p>近日，由教育部联合36家部委单位共同主办的2017年全国职业院校技能大赛落下帷幕。9月20日，大赛执行委员会公布2017年全国职业院校技能大赛 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                        <div class="imgright"><img src="/uploadfile/2017/0925/20170925120207896.jpg" alt=""></div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-112-1.html">
                                        <div class="imgright"><img src="/uploadfile/2017/0921/20170921112207467.jpg" alt=""></div>
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">“云科易服”发布，神...<i class="arrowI"></i></h6>
                                                <p>9月20日，神州数码集团（000034 SZ）在永泰福朋喜来登酒店宴会厅召开云科易服产品发布会。神州数码集团副总裁刘风彦、美国ServiceAide公司 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-111-1.html">
                                        <div class="imgright"><img src="/uploadfile/2017/0920/20170920071156842.jpg" alt=""></div>
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">神州数码与HPE签署合作...<i class="arrowI"></i></h6>
                                                <p>9月19日，神州数码与HPE在澳门签署合作备忘录（MOU），相约共同推进智慧校园建设。神州控股董事局主席、神州数码集团董事长郭为与HPEFS亚太 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-unstyled clearfix" style="float: left; width: 1000px;">
                                <li class="clearfix">
                                    <a href="/show-32-119-1.html">
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">赋能全生态·激活新动...<i class="arrowI"></i></h6>
                                                <p>11月8日，2017甲骨文云大会在上海隆重举行。作为一年一度的云计算行业盛会，本届大会以赋能全生态 智构新体验为主题，吸引了超过2500位国 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                        <div class="imgright"><img src="/assets/images/wap_new/240370-1305210J94350.png" alt=""></div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-118-1.html">
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">神州数码亮相2017云栖...<i class="arrowI"></i></h6>
                                                <p>10月11日-14日，万众瞩目的云栖大会在杭州云栖小镇召开，所有关于云的想象力，都尽情地绽放。作为阿里云钻石级合作伙伴，神州数码集团股份 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                        <div class="imgright"><img src="/assets/images/wap_new/235104-1305100HP046.png" alt=""></div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-117-1.html">
                                        <div class="imgright"><img src="/assets/images/wap_new/240370-1305210J94350.png" alt=""></div>
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">2017甲骨文全球大会闭...<i class="arrowI"></i></h6>
                                                <p>10月1日，2017甲骨文全球大会（Oracle OpenWorld 2017）在美国旧金山举行。来自全球175个国家的6万名商界翘楚、科技菁英参加了本次大会。 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-116-1.html">
                                        <div class="imgright"><img src="/assets/images/wap_new/235104-1305100HP046.png" alt=""></div>
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">神州数码斩获Oracle中...<i class="arrowI"></i></h6>
                                                <p>近日，神州数码集团（000034 SZ）获得甲骨文大中华区首批云托管服务供应商（MSP）资格，神州数码MSP能力再获国际大型公有云服务商认可，双 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-unstyled clearfix" style="float: left; width: 1000px;">
                                <li class="clearfix">
                                    <a href="/show-32-115-1.html">
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">中芬筑梦教育文化 神...<i class="arrowI"></i></h6>
                                                <p>2017年10月10日，中芬教育文化商业投资论坛暨筑梦创业服务周启动仪式在北京大学全球创新创业中心举行。论坛上，神州数码与芬兰Acvio Oy公 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                        <div class="imgright"><img src="/uploadfile/2017/1010/20171010072925421.png" alt=""></div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-113-1.html">
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">神州云科DCN荣获2017年...<i class="arrowI"></i></h6>
                                                <p>近日，由教育部联合36家部委单位共同主办的2017年全国职业院校技能大赛落下帷幕。9月20日，大赛执行委员会公布2017年全国职业院校技能大赛 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                        <div class="imgright"><img src="/uploadfile/2017/0925/20170925120207896.jpg" alt=""></div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-112-1.html">
                                        <div class="imgright"><img src="/uploadfile/2017/0921/20170921112207467.jpg" alt=""></div>
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">“云科易服”发布，神...<i class="arrowI"></i></h6>
                                                <p>9月20日，神州数码集团（000034 SZ）在永泰福朋喜来登酒店宴会厅召开云科易服产品发布会。神州数码集团副总裁刘风彦、美国ServiceAide公司 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-111-1.html">
                                        <div class="imgright"><img src="/uploadfile/2017/0920/20170920071156842.jpg" alt=""></div>
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">神州数码与HPE签署合作...<i class="arrowI"></i></h6>
                                                <p>9月19日，神州数码与HPE在澳门签署合作备忘录（MOU），相约共同推进智慧校园建设。神州控股董事局主席、神州数码集团董事长郭为与HPEFS亚太 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-unstyled clearfix clone" style="float: left; width: 1000px;">
                                <li class="clearfix">
                                    <a href="/show-32-119-1.html">
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">赋能全生态·激活新动...<i class="arrowI"></i></h6>
                                                <p>11月8日，2017甲骨文云大会在上海隆重举行。作为一年一度的云计算行业盛会，本届大会以赋能全生态 智构新体验为主题，吸引了超过2500位国 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                        <div class="imgright"><img src="/uploadfile/2017/1108/20171108064935746.jpg" alt=""></div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-118-1.html">
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">神州数码亮相2017云栖...<i class="arrowI"></i></h6>
                                                <p>10月11日-14日，万众瞩目的云栖大会在杭州云栖小镇召开，所有关于云的想象力，都尽情地绽放。作为阿里云钻石级合作伙伴，神州数码集团股份 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                        <div class="imgright"><img src="/uploadfile/2017/1016/20171016032938792.jpg" alt=""></div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-117-1.html">
                                        <div class="imgright"><img src="/uploadfile/2017/1012/20171012103024800.jpg" alt=""></div>
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">2017甲骨文全球大会闭...<i class="arrowI"></i></h6>
                                                <p>10月1日，2017甲骨文全球大会（Oracle OpenWorld 2017）在美国旧金山举行。来自全球175个国家的6万名商界翘楚、科技菁英参加了本次大会。 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="/show-32-116-1.html">
                                        <div class="imgright"><img src="/uploadfile/2017/1012/20171012102133640.jpg" alt=""></div>
                                        <div class="con">
                                            <div class="inner">
                                                <h6 class="slidetitle">神州数码斩获Oracle中...<i class="arrowI"></i></h6>
                                                <p>近日，神州数码集团（000034 SZ）获得甲骨文大中华区首批云托管服务供应商（MSP）资格，神州数码MSP能力再获国际大型公有云服务商认可，双 </p>
                                                <div class="morelink"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="home-page7-partial" type="text/x-handlebars-template">
        <!-- 生美国际赴美的五心服务 -->
        <div class="bg_ten">
            <div class="part">
                <p class="main_title main_title_ten">BornInUSA 生美贴心服务</p>
            </div>
            <ul class="part_ten">
                <li>
                    <img src="/assets/images/part10_01.png" height="130" width="130">
                    <p class="part_ten_title">省心</p>
                    <p class="part_ten_main">一站式定制服务</p>
                    <p class="part_ten_con">从前期咨询、套餐预定、签证办理过海关、待产分娩到宝宝出生后回国，提供一站式定制。</p>
                </li>
                <li>
                    <img src="/assets/images/part10_02.png" height="130" width="130">
                    <p class="part_ten_title">放心</p>
                    <p class="part_ten_main">权威专业机构</p>
                    <p class="part_ten_con">中美公司均有正规注册，安全合法。洛杉矶专业生产服务，客人放心赴美。</p>
                </li>
                <li>
                    <img src="/assets/images/part10_03.png" height="130" width="130">
                    <p class="part_ten_title">安心</p>
                    <p class="part_ten_main">隐私和保障体系</p>
                    <p class="part_ten_con">签署法律合同，承诺全程保障客人隐私，安心开启赴美生子之旅。</p>
                </li>
                <li>
                    <img src="/assets/images/part10_04.png" height="130" width="130">
                    <p class="part_ten_title">贴心</p>
                    <p class="part_ten_main">私人管家随访</p>
                    <p class="part_ten_con">国内一对一顾问提供咨询，美国现场私人管家24小时待命，贴心呵护。</p>
                </li>
                <li>
                    <img src="/assets/images/part10_05.png" height="130" width="130">
                    <p class="part_ten_title">热心</p>
                    <p class="part_ten_main">专业服务团队</p>
                    <p class="part_ten_con">国内外资深服务团队，提供赴美生子最专业的实时动态分享，一条龙跟踪服务。</p>
                </li>
            </ul>
        </div>
    </script>
</div>
